body {
    font-family: Arial;
    background: #f1f1f1;
}

.navbar {
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}

.header {
    padding: 30px;
    background: white;
}

.header h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    font-family: serif;
}

.content {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}
.content h2{
    padding: 10px;
}
.content p{
    padding: 10px;
}